:root {
  --color-primary-0: #aa4c39;
  --color-primario: #ffc0b3;
  --color-medio: #ef8f7b;
  --color-secundario: #651e0f;
  --color-contrasteAlto: #200600;
  --background: url(https://ateriss.github.io/Portafolio-Personal/assets/cielo_rosa.jpg);
  --background-intro: url(https://ateriss.github.io/Portafolio-Personal/assets/montana-rosa-2.png);

  --profile: url(https://ateriss.github.io/Portafolio-Personal/assets/caramiasinpelo__o.png);
  --sobre-img: url(https://ateriss.github.io/Portafolio-Personal/assets/bunny__o.png);
  --contacto-img: url(https://ateriss.github.io/Portafolio-Personal/assets/conejis_o.png);

  --cvo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/cv_o.png);
  --cvc: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/cv_c.png);
  --github-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/signo-de-github_o.png);
  --github-logo-c: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/signo-de-github_c.png);
  --linkedin-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/logotipo-de-linkedin_o.png);
  --tiktok-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/tik-tok_o.png);
  --mail-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/email_o.png);
  --html-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/html_o.png);
  --js-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/js_o.png);
  --react-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/react_o.png);
  --css-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/css_o.png);
  --trello-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/trello_o.png);
  --figma-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/figma_o.png);
  --patin-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/patin_o.png);
  --ilustracion-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/tableta-de-dibujo_o.png);
  --tattoo-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/maquina-de-tatuaje_o.png);
  --game-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/mando_o.png);
  --play-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/play-alternativo_o.png);
  --play-logo-c: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/play-alternativo_c.png);
  --nav-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/menu__o.png);
}

.darkmode {
  --color-primary-0: #aa4c39;
  --color-primario: #651e0f;
  --color-medio: #ef8f7b;
  --color-secundario: #ffc0b3;
  --color-contrasteAlto: #ffece8;
  --background: url(https://ateriss.github.io/Portafolio-Personal/assets/pexels-dastan-khdir-13627288.jpg);
  --background-intro: url(https://ateriss.github.io/Portafolio-Personal/assets/pexels-craig-adderley-1574848.jpg);

  --profile: url(https://ateriss.github.io/Portafolio-Personal/assets/caramiasinpelo_c.png);
  --sobre-img: url(https://ateriss.github.io/Portafolio-Personal/assets/bunny__c.png);
  --contacto-img: url(https://ateriss.github.io/Portafolio-Personal/assets/conejis_c.png);

  --cvo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/cv_c.png);
  --cvc: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/cv_o.png);
  --github-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/signo-de-github_c.png);
  --github-logo-c: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/signo-de-github_o.png);
  --linkedin-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/logotipo-de-linkedin_c.png);
  --tiktok-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/tik-tok_c.png);
  --mail-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/email_c.png);
  --html-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/html_c.png);
  --js-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/js_c.png);
  --react-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/react_c.png);
  --css-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/css_c.png);
  --trello-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/trello_c.png);
  --figma-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/figma_c.png);
  --patin-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/patin_c.png);
  --ilustracion-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/tableta-de-dibujo_c.png);
  --tattoo-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/maquina-de-tatuaje_c.png);
  --game-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/mando_c.png);
  --play-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/play-alternativo_c.png);
  --play-logo-c: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/play-alternativo_o.png);
  --nav-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/menu__c.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary-0: #aa4c39;
    --color-primario: #651e0f;
    --color-medio: #ef8f7b;
    --color-secundario: #ffc0b3;
    --color-contrasteAlto: #ffece8;
    --background: url(https://ateriss.github.io/Portafolio-Personal/assets/pexels-dastan-khdir-13627288.jpg);
    --background-intro: url(https://ateriss.github.io/Portafolio-Personal/assets/pexels-craig-adderley-1574848.jpg);

    --profile: url(https://ateriss.github.io/Portafolio-Personal/assets/caramiasinpelo_c.png);
    --sobre-img: url(https://ateriss.github.io/Portafolio-Personal/assets/bunny__c.png);
    --contacto-img: url(https://ateriss.github.io/Portafolio-Personal/assets/conejis_c.png);

    --cvo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/cv_c.png);
    --cvc: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/cv_o.png);
    --github-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/signo-de-github_c.png);
    --github-logo-c: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/signo-de-github_o.png);
    --linkedin-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/logotipo-de-linkedin_c.png);
    --tiktok-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/tik-tok_c.png);
    --mail-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/email_c.png);
    --html-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/html_c.png);
    --js-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/js_c.png);
    --react-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/react_c.png);
    --css-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/css_c.png);
    --trello-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/trello_c.png);
    --figma-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/figma_c.png);
    --patin-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/patin_c.png);
    --ilustracion-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/tableta-de-dibujo_c.png);
    --tattoo-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/maquina-de-tatuaje_c.png);
    --game-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/mando_c.png);
    --play-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/play-alternativo_c.png);
    --play-logo-c: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/play-alternativo_o.png);
    --nav-logo: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/menu__c.png);
  }
}

.scroll__animated {
  opacity: 0;
  transition: all 0.5s;
}

html,
footer,
header,
body {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  scroll-behavior: smooth;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

input {
  border: none;
  background: none;
}

input:checked {
  border: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: var(--background);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

@keyframes temblor {
  0% {
    transform: translate(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(0.4rem);
  }
  10%,
  30%,
  50% {
    transform: translate(-0.1rem);
  }
  70%,
  100% {
    transform: translate(0);
  }
}

a {
  cursor: pointer;
}
