.contacto__intro {
  margin: 1.5rem auto 0 auto;
  border: 2px solid;
  border-color: var(--color-secundario);
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--color-medio);
  width: 85vw;
  padding: 0.25rem 0.25rem 0 .25rem;
  height: 50px;
}

.invalid{
  border-color: #ff4d4d;
  color: #ff4d4d;
}


.contacto__intro--error {
  color: #ff4d4d;
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  transition: all 0.2s ease;
  visibility: hidden;
}

.contacto__intro--error[valueMissing],
.contacto__intro--error[typeMismatch] {
  display: block;
}

.contacto__intro--nombre {
  font-size: 1rem;
  color: var(--color-medio);
  padding:0.5rem;
  padding-bottom: 0;
}

.contacto__intro--texto {
 height: 40%;
  width: 95%;
  font-size: 1.25rem;
  color: var(--color-secundario);
  outline: none;
  padding: 0 0 0 0.5rem;
  
}



.contacto__intro--error.error--activo {
  visibility: visible;
}


@media screen and (min-width: 768px) {
  .contacto__intro {
    margin: 1.5rem auto;
    height: 100px;
  }

  .contacto__intro--nombre {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .contacto__intro--texto {
    font-size: 2rem;
    margin-bottom:0;
  }
}

@media screen and (min-width: 1440px) {
  .contacto__intro--nombre {
    font-size: 1rem;
    margin: 0;
  }

  .contacto__intro--texto {
    margin: 0;
    padding: 0 0 0 .5rem;
  }

  .contacto__intro--texto {
    font-size: 1.5rem;
  }

  .contacto__intro {
    width: 600px;
    margin: 0.5rem auto;
    height: 80px;
  }
}
