.skill__nombre {
    font-weight: bolder;
    font-size: 1rem;
    color: var(--color-secundario);
  }

  @media screen and (min-width: 768px){
    .skill__nombre {
        font-size: 2rem;
      }
  }