.skill__logo {
  padding-bottom: 0.5rem;
}

.skill__logo--img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.html{
  background-image: var(--html-logo);
}

.js{
  background-image: var(--js-logo);
}

.react{
  background-image: var(--react-logo);
}

.css{
  background-image: var(--css-logo);
}

.trello{
  background-image: var(--trello-logo);
}

.figma{
  background-image: var(--figma-logo);
}

.vite{
  background-image: var(--vite-logo);
}

.office{
  background-image: var(--office-logo);
}

.tail{
  background-image: var(--tail-logo);
}

@media screen and (min-width: 768px) {
  .skill__logo--img {
    width: 90px;
    height: 90px;
  }
}
