.skills {
  padding-top: 4rem;
  height: 100vh;
}

.skill__titulo {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0.5rem 0;
  font-weight: bold;
  color: var(--color-secundario);
  text-shadow: 2px 2px 5px var(--color-primario);
  text-transform: uppercase;
  font-size: 1.75rem;
}

@media screen and (min-width: 768px) {
  .skills {
    padding-top: 5rem;
    height: 90vh;
  }

  .skill__titulo {
    font-size: 3rem;
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 1440px) {
  .skills {
    width: 1440px;
    height: 80vh;
    margin: 0 auto;
    padding: 120px 0 0 0;
    font-size: 3rem;
  }
}
