.btn__idioma {
  font-size: 1rem;
  color: var(--color-secundario);
  margin-right: 1rem;
  align-self: center;
}

.btn__idioma--es {
  border-right: 2px solid var(--color-secundario);
  margin: 0;
  padding-right: 0.5rem;
}

.btn__idioma--en {
  border-left: 2px solid var(--color-secundario);
  margin: 0;
  padding-left: 0.5rem;
}

select{
  bottom: 2px solid;
  font-size: 1.25rem;
  font-weight: bolder;
}

@media screen and (min-width: 768px) {
  .btn__idioma {
    font-size: 1.75rem;
    
  }
  .select{
    font-size: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .btn__idioma {
    font-size: 1.25rem;
  }

  .select{
    font-size: 1.5rem;
  }
}
