.rodapie {
  display: flex;
  flex-direction: column;
  background-image: var(--background-intro);
  background-position: bottom;
  width: 100vw;
}

.rodapie--box {
  width: 90vw;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .rodapie {
    padding: 2rem 0 2rem 0;
  }

  .rodapie__box {
    width: 100vw;
    margin: 0;
  }
}
