.exp__box {
  width: 325px;
  border-radius: 15px;
  border: 2px var(--color-secundario);
  margin-top: 1rem;

}

.imagen {
  position: relative;
  width: 100%;
  height: 200px;
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: 15px 15px 0 0;
  transition: 0.4s;
  box-shadow: 2px 0px 5px #651E0F;
}

.title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 192, 179, .3);
  color: #651E0F;
  transition: top 0.5s;
  backdrop-filter: blur(10px);
}

.exp__box:hover .title{
  top: 40px;
  color:  #FFC0B3;
}


.exp__box:hover .img {
  filter: brightness(50%);
}

.btn1 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  left: 0;
  top: 160px;
  text-align: center;
  background-color: rgba(255, 192, 179, .3);
  backdrop-filter:blur(10px) ;
  transition: opacity 0.35s ease;
}

.btn1 a {
  margin:0 15px 0 15px;
  color: #651E0F;
  width: 30px;
  height: 30px;
}

#repo {
  background-image: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/signo-de-github_o.png);
}

.exp__box:hover #repo {
  background-image: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/signo-de-github_c.png);
}

#demo {
  background-image: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/play-alternativo_o.png);
}

.exp__box:hover #demo {
  background-image: url(https://ateriss.github.io/Portafolio-Personal/assets/icons/play-alternativo_c.png);
}

.exp__box:hover .btn1 {
  opacity: 1;
}

#repo,
#demo {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.exp__descripcion {
  
  font-size: 1rem;
  color: var(--color-secundario);
  padding: 1rem;
  text-align: justify;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  border-radius: 0 0 15px 19px;
  box-shadow: 2px 2px 5px var(--color-primary-0);
  transition: 0.5s;
}

.exp__box:hover .exp__descripcion {
  background: var(--color-secundario);
  color: var(--color-primario);
}

@media screen and (min-width: 768px) {
  .exp__box {
    width: 500px;

  }

  .imagen {
    height: 300px;
  }
  .title {
    top: 190px;
    font-size: 2rem;
  }
  .exp__box:hover .title {
    top: 50px;
  }

  .btn1 {
    top: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn1 a {
    margin:0 15px 0 15px;
    width: 40px;
    height: 40px;
  }

  #repo,
  #demo {
    background-position: center;
  }

  .exp__descripcion {
    font-size: 1.5rem;
  }
  
}


@media screen and (min-width: 1440px) {
  .exp__box {
    width: 450px;

    margin: 1rem;
  ;
  }

  .imagen {
    width: 100%;
    height: 250px;

  }


  .title{
    top: 200px;
  }

  .exp__caja2 {
    width: 1440px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    height: 60%;
  }

  .exp__center{
    align-self: center;
  }

  .exp__end{
    align-self: flex-end;
  }

  .exp__descripcion {
    font-size: 1.25rem;
  }

  .btn1 a {
    margin:0 15px 0 15px;
    width: 50px;
    height: 50px;
  }

  .btn1 {
    opacity: 0;
    top: 180px;
  }

  .exp__box:hover .btn1 {
    opacity: 1;

  }
}
