.intro__profile {
  display: flex;
  justify-content: center;
  padding: 0.25rem;
  width: 60vw;
  height: 60vw;
  background-image: var(--profile);
  background-position: center;
  background-size: 60vw;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .intro__profile{
    width: 350px;
    background-size: 350px;
    height: 350px;
  }
}
