.intro__quetal {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: #651e0f;
}

.intro__presentacion {
  font-weight: bold;
  font-size: 1.75rem;
  padding-bottom: 0.5rem;
  text-align: center;
  text-shadow: 2px 2px 5px #ff9c9c;
  color: #651e0f;
}

@media screen and (min-width: 768px) {
  .intro__quetal {
    font-size: 2.5rem;
  }

  .intro__presentacion {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .intro__presentacion {
    font-size: 4rem;
    text-align: end;
    text-shadow: #ffc0b3 10px 10px 20px;
  }

  .intro__quetal {
    font-size: 3rem;
  }
}
