.intro__descripcion {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-secundario);
}

@media screen and (min-width: 768px) {
  .intro__descripcion {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1440px) {

  .intro__descripcion {
    font-size: 2.5rem;
  }
}
