.cabecera__menu {
  position: absolute;
  width: 300px;
  padding: 1rem;
  background-image: var(--background);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--color-primary-0);
  display: block;
  transition: all 0.4s;
  z-index: 5;
  transform: translatey(-120%);
  transition: transform 0.3s ease-in-out;
}

.cabecera__menu.active {
  transform: translatex(0);
}


.cabecera__item {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-secundario);
  padding: 1rem;
  text-transform: uppercase;
  width: 250px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

.cabecera__item:hover {
  background-color: rgba(101, 30, 15, 0.1);
  backdrop-filter: blur(10px);
}

.cabecera__item:active {
  background-color: var(--active-menu);
  backdrop-filter: blur(10px);
  color: var(--color-primario);
}




@media screen and (min-width: 768px) {
  .cabecera__menu {
    width: 650px;
  }

  .cabecera__item {
    font-size: 2rem;
    width: 600px;
  }
}

@media screen and (min-width: 1440px) {
  .cabecera__menu {
    position: relative;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: none;
    width: 1000px;
    margin: 0;
    padding: 0;
    transform: translatey(0);
  }

  .cabecera__item {
    padding: 1rem;
    margin: 1.5rem;
    font-size: 1.5rem;
    width: 150px;
    margin: 0;
    padding: 10px 0 10px 0;
  }
}
